!-- Xft
Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.autohint:           false
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcddefault

!--- URxvt
URxvt.scrollBar:        false
URxvt.saveLines:        10000

URxvt.cursorUnderline:  true

!URxvt.letterSpace:      -1

URxvt.depth:            32
URxvt.foreground:       #FFFFFF
URxvt.background:       [85]#000000
URxvt.cursorColor:      #FFFFFF
URxvt.cursorBlink:      true

!URxvt*font:            -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont:        -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*italicFont:      -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*bolditalicFont:  -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*

!--- Quick fix to get rid of a bug: https://github.com/neeee/tewi-font/issues/5
URxvt*font:             -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-medium-r-normal--11-90-75-75-p-58-iso10646-1
URxvt*boldFont:         -lucy-tewi-bold-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-bold-r-normal--11-90-75-75-p-58-iso10646-1
URxvt*italicFont:       -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-medium-r-normal--11-90-75-75-p-58-iso10646-1
URxvt*bolditalicFont:   -lucy-tewi-bold-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-bold-r-normal--11-90-75-75-p-58-iso10646-1

!--- Colors
*background: #252525
*foreground: #c3c2c5
 
! black
*color0: #4E4E4E
 
! bright_black
*color8: #7D7D7D
 
! red
*color1: #ff4070
 
! bright_red
*color9: #ff6699
 
! green
*color2: #d5f85f
 
! bright_green
*color10: #99ff66
 
! yellow
*color3: #ffa466
 
! bright_yellow
*color11: #faff66
 
! blue
*color4: #00A1E4
 
! bright_blue
*color12: #00B4FF
 
! magenta
*color5: #7d66ff
 
! bright_magenta
*color13: #a982ff
 
! cyan
*color6: #00CCFF
 
! bright_cyan
*color14: #26DED2
 
! white
*color7: #D6D6D6
 
! bright_white
*color15: #F0F0F0
