!--- xterm ---
xterm*background:       #151515
xterm*foreground:       #FFFFFF

!--- colorscheme ---
!black
*color0:#050505
*color8:#A9A9A9
!red
*color1:#CC0000
*color9:#EF2929
!green
*color2:#3B8526
*color10:#58A642
!yellow
*color3:#e0a524
*color11:#EDB85C
!blue
*color4:#1D576D
*color12:#31788E
!magenta
*color5:#500000
*color13:#590000
!cyan
*color6:#8EDCff
*color14:#87ADFC
!white
*color7:#DEDEDE
*color15:#F2F2F2

